/* Chessboard.css */

.chessboard-body {
  background-color: #f0d9b5; /* Set background color for Chessboard component */
  color: #000;
}

.chessboard {
  display: flex;
  flex-direction: column;
  width: 400px; /* Adjust the width as needed */
  margin: 0 auto; /* Centers the chessboard horizontally */
  margin-top: 10%; /* Adjust the top margin as needed */
  font-size: 20px;
}

.row {
  display: flex;
}

.square {
  width: 50px; /* Adjust the width and height as needed */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.square:hover {
  background-color: lightgray; /* Change background color on hover */
}

/* Styling for alternating colors */
.white {
  background-color: #f0e3d2; /* Light color */
}

.black {
  background-color: #b58863; /* Dark color */
}

.available {
  background-color: yellow; /* Highlight available moves with yellow background */
}
